@using InventoryDataAccessLayer.Entities

@model List<Product>

<div class="container mt-5">
    <h1 class="text-center mb-4">Products</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Warehouse Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); ++i)
            {
                <tr>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Warehouse.Name</td>
                    <td>@Model[i].Quantity</td>
                    <td>
                        <a asp-controller="Stock" asp-action="MakeStock" asp-route-id ="@Model[i].Id" type="submit" class="btn btn-success btn-sm">Make A Stock</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
